NeuralNetworksandDeepLearning/2LogisticRegression/datasets
NeuralNetworksandDeepLearning/5DeepNeuralNetworkApplication/datasets
3ConvolutionalNeuralNetworks/Week3/CarDetectionWithYOLO/model_data/variables/variables.data-00000-of-00001
3ConvolutionalNeuralNetworks/Week3/CarDetectionWithYOLO/nb_images/*.mp4
3ConvolutionalNeuralNetworks/Week3/ImageSegmentationwithUNet/data
3ConvolutionalNeuralNetworks/Week2/TransferLearningWithMobileNet/dataset
3ConvolutionalNeuralNetworks/Week4/FaceRecognition/keras-facenet-h5/model.h5
3ConvolutionalNeuralNetworks/Week4/ArtGenerationWithNeuralStyleTransfer/pretrained-model/vgg19_weights_tf_dim_ordering_tf_kernels_notop.h5